* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(66, 66, 66);
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    max-width: 1024px;
    width: 90%;
    display: block;
    margin: 30px auto;
    height: 100vh;
}

.cuadro {
    width: 90%;
    display: block;
    margin: 0px auto;
    height: 40%;
    background: rgb(220, 220, 220);
    position: relative;
    border: 1px solid rgb(100, 100, 100);
}

.cuadro p {
    color: rgb(33, 33, 33);
    font-size: 60px;
    text-align: center;
    line-height: 120px;
}

.cuadro-activo {
    background: rgb(130, 240, 220);
}

.cuadro:nth-child(2).cuadro-activo {
    background: rgb(230, 240, 120);
}
